sockets
deepface
Pillow
opencv-python
ultralytics
schedule
django
djangorestframework
onnx>=1.12.0 
onnxslim
onnxruntime
onnxruntime-gpu
tensorrt>7.0.0,!=10.1.0
streamlit==1.32.2
pandas==2.1.4
numpy==1.26.2
plotly==5.18.0